.example {
    width: 100px;
    height: 100px;
    background: red;
    -webkit-transition: width 2s; /* Safari */
    transition: width 2s;
}

.codespan {
    color: crimson;
    background-color: #f1f1f1;
    padding-left: 4px;
    padding-right: 4px;
    font-size: 110%;
}

.example:hover {
    width: 300px;
}

#transition-tutorial > section {
    margin-bottom: 30px;
}

#transition-tutorial > section > h1 {
	margin-left: 0;
	margin-right: 0;
}

#transition-tutorial > section > h2 {
	padding-left: 0;
	padding-right: 0;
}

#transition-tutorial > section > ul {
    padding-inline-start: 40px;
    list-style-type: disc;
}

#transition-tutorial > section > ul > li {
    float: none;
}